$color-primary-guinda: #8C1D40;
$color-brand-magenta: #D81B60;
$color-brand-teal: #00897B;
$color-brand-indigo: #3949AB;
$color-brand-yellow: #FBC02D;
$color-brand-green: #43A047;
$color-brand-orange: #F4511E;

$color-bg-main: #FFFFFF;
$color-bg-surface: #EBE4D3;
$color-text-main: #212121;
$color-text-muted: #595959;
$color-border: #000000;

:root {
  --color-primary-guinda: #{$color-primary-guinda};
  --color-brand-magenta: #{$color-brand-magenta};
  --color-brand-teal: #{$color-brand-teal};
  --color-brand-indigo: #{$color-brand-indigo};
  --color-brand-yellow: #{$color-brand-yellow};
  --color-brand-green: #{$color-brand-green};
  --color-brand-orange: #{$color-brand-orange};
  
  --color-bg-main: #{$color-bg-main};
  --color-bg-surface: #{$color-bg-surface};
  --color-text-main: #{$color-text-main};
  --color-text-muted: #{$color-text-muted};
  --color-border: #{$color-border};
}
